<section id="home">
	<div class="col-xs-8" id="search">
		<form class="form-inline form-group" ng-submit="submitSearch()">
				<label for="searchStock">Enter stock symbol: </label>
				<input class="form-control" type="text" name="searchStock" ng-model="search">
				<input type="submit" id="submit" value="Submit" class="btn btn-default">
		</form>
	</div>
	<br/>
	<div id="results" ng-show="searchResults">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Symbol</th>
				<th>Last Price</th>
			</tr>
			<tr>
				<td>{{searchResults.Name}}</td>
				<td>{{searchResults.symbol | uppercase}}</td>
				<td>{{searchResults.LastTradePriceOnly}}</td>
			</tr>
		</table>
		<form class="form-inline form-group" ng-submit="addToPortfolio()">
			<label for="sharesNumber">Enter number of shares (optional): </label>
			<input class="form-control" type="number" name="sharesNumber" ng-model="sharesNumber">
			<input type="submit" id="submit" value="Add to Portfolio" class="btn btn-default">

			<div ng-show="repeated" class="alert alert-danger">You already have this stock in your portfolio!				
			</div>
		</form>
	</div>
	<br/>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Symbol</th>
			<th>Last Price</th>
			<th>Shares</th>
			<th>Market Value</th>
		</tr>
		<tr ng-repeat="stock in allStocks">
			<td>{{stock.Name}}</td>
			<td>{{stock.symbol}}</td>
			<td>{{stock.LastTradePriceOnly}}</td>
			<td>{{stock.shares}}</td>
			<td ng-show="stock.shares">{{stock.LastTradePriceOnly * stock.shares | currency}}</td>
			<td ng-show="!stock.shares"></td>
		</tr>
	</table>
</section>
