<navbar></navbar>
<section id="home">
	<div class="container-fluid">
		<search-box></search-box>
		<alert></alert>
		<div class="portfolio">
			<h2>Your Portfolio</h2>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Symbol</th>
					<th>Last Price</th>
					<th>Shares</th>
					<th>Market Value</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="stock in allStocks">
					<td>{{stock.Name}}</td>
					<td>{{stock.symbol}}</td>
					<td>{{stock.LastTradePriceOnly | currency}}<span ng-show="stock.increase" class="glyphicon glyphicon-arrow-up"></span><span ng-show="stock.decrease" class="glyphicon glyphicon-arrow-down"></span></td>
					<td>{{stock.shares}}</td>
					<td ng-show="stock.shares">{{stock.LastTradePriceOnly * stock.shares | currency}}</td>
					<td ng-show="!stock.shares"></td>
					<td><button class="btn btn-sm btn-danger" ng-click="deleteStock(stock.symbol)">X</button></td>
				</tr>
			</table>
		</div>
	</div>
</section>
